Repository mnmbeloved002-lang/prisma-enterprise: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml,css,scss}": [
    "prettier --write"
  ],
  "concurrent": true
}

fix(dependabot): align config with current GitHub schema
  .github/dependabot.yml
Due: prettier --write

chore(lintstaged): drop deprecated concurrent key for v15+
  .lintstagedrc.json
  cspell.json
  cspell.words.txt
  package-lock.json
  package.json
Due: prettier --write

docs: add release flow, quality gate and environments policy
  docs/ENVIRONMENTS.md
  docs/QUALITY_GATE.md
  docs/RELEASE_FLOW.md
Due: prettier --write

docs: add release flow, quality gate and environments policy (#5)
  docs/ENVIRONMENTS.md
  docs/QUALITY_GATE.md
  docs/RELEASE_FLOW.md
Due: prettier --write

style(theme): add skeleton styles and TG theme tokens
  src/styles/skeleton.css
Due: prettier --write

feat(ui): app shell with header and 4 skeleton cards
  src/App.tsx
  src/components/Header.tsx
  src/components/SkeletonCard.tsx
  src/pages/Home.tsx
Due: eslint --fix

feat(data): add temporary news.json source (US-2)
  public/news.json
Due: prettier --write

feat(data): connect public/news.json and render NewsCard list
  public/news.json
  src/App.tsx
  src/components/Header.tsx
  src/components/NewsCard.tsx
  src/components/SkeletonCard.tsx
  src/pages/Home.tsx
  src/services/news.ts
  src/styles/skeleton.css
  src/types/news.ts
Due: eslint --fix, prettier --write

chore(gitignore): exclude backup files (*.bak)
  .gitignore
Due: none

feat(data): connect public/news.json and render NewsCard list (US-2) (#8)
  .gitignore
  public/news.json
  src/App.tsx
  src/components/Header.tsx
  src/components/NewsCard.tsx
  src/components/SkeletonCard.tsx
  src/pages/Home.tsx
  src/services/news.ts
  src/styles/skeleton.css
  src/types/news.ts
Due: eslint --fix, prettier --write

feat(cache): add localStorage TTL cache for news (15m)
  src/services/news.ts
  src/utils/cache.ts
Due: eslint --fix

feat(ux): offline banner and cached-first loading
  src/components/OfflineBanner.tsx
  src/pages/Home.tsx
Due: eslint --fix

feat(cache): TTL cache + offline UX (US-3) (#9)
  src/components/OfflineBanner.tsx
  src/pages/Home.tsx
  src/services/news.ts
  src/utils/cache.ts
Due: eslint --fix

feat(pwa): enable PWA with service worker and runtime caching
  src/main.tsx
  vite.config.ts
Due: eslint --fix

ci(build): install devDependencies for Vite PWA build
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): ensure vite-plugin-pwa is in dependencies (not devDeps)
  package-lock.json
  package.json
Due: prettier --write

ci(build): install devDependencies for Vite build (--include=dev)
  .github/workflows/ci.yml
Due: prettier --write

ci: include devDeps and fix gitleaks v3 with GITHUB_TOKEN
  .github/workflows/ci.yml
Due: prettier --write

ci(gitleaks): fix step to @v2 with args and GITHUB_TOKEN
  .github/workflows/ci.yml
Due: prettier --write

ci(gitleaks): fix workflow to @v2 with args + GITHUB_TOKEN
  .github/workflows/gitleaks.yml
Due: prettier --write

ci(gitleaks): run via binary + full history (fetch-depth 0)
  .github/workflows/gitleaks.yml
Due: prettier --write

ci: remove duplicate gitleaks from CI; keep scan only in gitleaks.yml
  .github/workflows/ci.yml
Due: prettier --write

ci(build): install devDependencies for Vite build (--include=dev) (#11)
  .github/workflows/ci.yml
  .github/workflows/gitleaks.yml
Due: prettier --write

ci(gitleaks): fix duplicate 'pull-requests' permission key
  .github/workflows/gitleaks.yml
Due: prettier --write

chore(app-structure): add base dirs (api/services/store/styles/utils) with .gitkeep
  src/api/.gitkeep
  src/services/.gitkeep
  src/store/.gitkeep
  src/styles/.gitkeep
  src/utils/.gitkeep
Due: none

chore(env): finalize .env.example and .gitignore cleanup
  .env.example
  .gitignore
Due: none

feat(webhook): add /api/tg-webhook with secret header verification
  api/tg-webhook.ts
Due: eslint --fix

chore(vercel): add vercel.json routing for api/tg-webhook
  vercel.json
Due: prettier --write
